body {
    background-color: black;
    padding: 0;
    margin: 0;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tiny5', sans-serif;
  
}

#playfield {
    width: 1280px;
    height: 600px;
    background-color: rgb(133, 133, 133);
    margin: 0 auto;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    display: none;
    background-image: url(./animations/NightCity/1.png);
    
}

#player {
    background-image: url(./animations/Biker_run.png);
    position: absolute;
    animation: idle 1s steps(6) infinite;

}

.platform {
    background-color: rgb(0, 0, 0);
    position: absolute;
    background-size: cover;
}

.obstacle {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: red;
    top: 50px;
    left: 50px;
}

.coin {
    background-image: url("./animations/NightCity/MonedaD.png");
        position: absolute;
        animation: coinsspin 1s steps(5) infinite ;
}


@keyframes idle {
    100% {
        background-position: 288px 0;
    }
}

@keyframes coinsspin {
        100% {
                background-position: 80px 0;
            }
}






#restart {
    width: 1280px;
    height: 600px;
    /* background-color: rgb(156, 155, 155); */
    background-image: url(fondorandom.webp);
    background-size: cover;
    position: fixed;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity 3s ease visibility 0s 1s;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
  }
  #btn-restart{
/*     width: 200px;
    padding: 15px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    cursor: pointer;
    padding: 15px;
}

#restart.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 3s ease;
    pointer-events: auto;
}
#content{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.541);
    border: 5px solid green;
    
}
/* Hover wapo */
#btn-restart:hover{  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform: scale(1.1);
}
#content span{
    color: brown;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#bg1 {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    margin-top: 15px;

    position: absolute;
    background-image: url(./animations/NightCity/2.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: scrollBG1 15s linear infinite;

}

#bg2 {
    width: 1280px;
    height: 550px;
    margin: 0 auto;
    margin-top: 15px;

    position: absolute;
    background-image: url(./animations/NightCity/3.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: scrollBG1 10s linear infinite;

}

#bg3 {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    margin-top: 15px;

    position: absolute;
    background-image: url(./animations/NightCity/5.png);
    background-repeat: repeat-x;
    background-size: cover;
    animation: scrollBG1 5s linear infinite;

}



@keyframes scrollBG1 {
    0% {
        background-position: 0 556;
    }

    100% {
        background-position: -1280px 0;
    }
}

#start{
    width: 1280px;
    height: 600px;
    /* background-color: rgb(156, 155, 155); */
    background-image: url(Start.webp);
    background-size: cover;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
#btn-start:hover{  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transform: scale(1.1);
}