body{
    background-color: black;
}
#playfield{
    width: 1280px;
    height: 600px;
    background-color: rgb(156, 155, 155);
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

#player{
    background-color: brown;
    position: absolute
}

.platform{
    background-color: aqua;
    position: absolute;
}